<?xml version="1.0" encoding="UTF-8"?>    
    <beans xmlns="http://www.springframework.org/schema/beans"   
        xmlns:context="http://www.springframework.org/schema/context"   
        xmlns:mvc="http://www.springframework.org/schema/mvc"  
        xmlns:p="http://www.springframework.org/schema/p"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
        xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">  
	
	<!-- springmvc注解驱动 -->
	<mvc:annotation-driven/>
	
	<!-- 扫描器 -->
	<!--mvc:view-controller path="/hello.do" view-name="index"/-->
	<mvc:view-controller path="/" view-name="/index" />
	<mvc:view-controller path="/aboutMe.do" view-name="about_me"/>
	<context:component-scan base-package="com"/>
    
    <!-- 配置视图解析器 -->
    <bean 
    	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<!-- 配置前缀和后缀 -->
    	<property name="prefix" value="/view/"></property>
    	<property name="suffix" value=".jsp"></property>
    </bean>
    
    <!-- 获取数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/Jsp_blog"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>
	<!-- 给jdbc模板注入数据源-->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 给Dao注入模板-->
	<bean id="articleDao" class="com.sjming.dao.ArticleDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="userDao" class="com.sjming.dao.UserDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<!-- 给控制器注入dao类-->
	<bean id="articleController" class="com.sjming.controller.ArticleController">
		<property name="articleDao" ref="articleDao"></property>
	</bean>
    <bean id="userController" class="com.sjming.controller.UserController">
		<property name="userDao" ref="userDao"></property>
	</bean>
    
</beans>  